body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 16px;
	background: paleturquoise;
	padding: 140px 90px;
	background: rgb(146,212,213); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(146,212,213,1) 0%, rgba(25,180,194,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(146,212,213,1) 0%,rgba(25,180,194,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(146,212,213,1) 0%,rgba(25,180,194,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92d4d5', endColorstr='#19b4c2',GradientType=0 ); /* IE6-9 */

}

/*HEADER*/
header {
position:relative;
margin-bottom: 38px;
}
.welcome {
	background: #fff;
	padding: 14px 24px;
	position:absolute;
	top: 0;
}
.profile {
	text-align: center;
	color: #fff;
}
.profile p {
	text-transform: uppercase;
}
.profile img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

/*FORM*/
.container {
	background: #fff;
	padding: 45px 33px;
	border: 1px solid #AFEEEE;
}
.row {
	border-bottom: 1.5px solid #000;
	padding-bottom: 20px;
}
.row p {
	text-align: left;
}
.policy {
	text-align: center;
}
fieldset {
	border: none;
	text-align: center;
}
.dropdown {
	text-align: left;
}

.control-group {
	display:inline-block;
	text-align:center;
}
.emoji-group {
	padding: 20px;
	position:relative;
}
.emoji-group input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
svg {
	width: 60px;
	height: 60px;
}
.selected-bg {
	background: lightgray;
	border: 1px solid #AFEEEE;
}
.picked{
/*	fill: #FFDE17;*/
}
input[type="submit"] {
	border:none;
	border-radius: 5px;
	text-align: center;
	background: black;
	color: #FFF;
	padding: 8px 20px;
}
textarea {
	width: 100%;
}
#submission {
	height: 100vh;
}
#submission h1 {
	color: #FFF;
}

@media (max-width: 800px) {
	body {
		padding: 30px;
	}
	.welcome {
		position: static;
	}
	svg {
		width: 40px;
		height: 40px;
	}
	.emoji-group {
		padding: 8px;
	}
	label {
		font-size: 12px;
	}
}
@media (max-width: 500px) {
	body {
		font-size: 14px;
	}
.control-group {
	padding-bottom: 20px;
}
}