body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 14px;
	background: paleturquoise;
	padding: 140px 90px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#92d4d5+0,19b4c2+100 */
	background: rgb(146,212,213); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(146,212,213,1) 0%, rgba(25,180,194,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(146,212,213,1) 0%,rgba(25,180,194,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(146,212,213,1) 0%,rgba(25,180,194,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92d4d5', endColorstr='#19b4c2',GradientType=0 ); /* IE6-9 */

}

/*HEADER*/
header {
position:relative;
margin-bottom: 38px;
}
.welcome {
	background: #fff;
	padding: 14px 24px;
	position:absolute;
	top: 0;
}
.profile {
	text-align: center;
	color: #fff;
}
.profile p {
	text-transform: uppercase;
}
.profile img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
/*.circle {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}*/

/*FORM*/
.container {
	background: #fff;
	padding: 45px 33px;
	border: 1px solid #000;
}
.row {
	border-bottom: 1.5px solid #000;
	padding-bottom: 20px;
}
.row p {
	text-align: left;
}
.policy {
	text-align: center;
}
fieldset {
	border: none;
	text-align: center;
}
/*.rate {
	text-align:center;
}*/
.control-group {
	display:inline-block;
	text-align:center;
	/*margin-right: 20px;*/
}
.emoji-group {
	padding: 20px;
	position:relative;
}
.emoji-group input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
svg {
	width: 60px;
	height: 60px;
}
.selected-bg {
	background: #bdbdbd;
	border: 1px solid black;
}
.picked{
/*	fill: #FFDE17;*/
}
.blue {
	color:blue;
}
input[type="submit"] {
	border:none;
	border-radius: 5px;
	text-align: center;
	background: black;
	color: #FFF;
	padding: 8px 20px;
}